<% unless comment.new_record? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <b><%= comment.author %></b>
      <% if can? :manage, comment %>
        <div class="btn-group btn-group-sm btn-group-right" role="group">
          <%= link_to 'Delete', post_comment_path(comment.post_id, comment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
        </div>
      <% end %>
    </div>
    <div class="panel-body">
      <%= comment.text %>
    </div>
  </div>
<% end %>