<ul class="nav navbar-nav navbar-right">
  <li>
    <%= link_to posts_path do  %>
      <span class="glyphicon glyphicon-th-list"></span>
      All posts
    <% end %>
  </li>
  <li>
    <%= link_to new_post_path do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Write Post
    <% end %>
  </li>
  <% unless user_signed_in? %>
    <li>
      <%= link_to new_user_session_path do %>
        <span class="glyphicon glyphicon-user"></span>
        Sign In
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="glyphicon glyphicon-user"></span>
        Sign Out
      <% end %>
    </li>
  <% end %>
  <% if can? :manage, :subscriber %>
    <li>
      <%= link_to subscribers_path do %>
        <span class="glyphicon glyphicon-envelope"></span>
        Subscribers
      <% end %>
    </li>
  <% end %>
</ul>