<%= simple_form_for :subscriber, url: subscribers_path, remote: true, html: { class: 'form-inline navbar-form navbar-left' } do |f| %>
  <%= f.input :email, label: false, placeholder: 'Your email' %>
  <%= f.button :submit, 'Subscribe', class: 'btn btn-defaul' %>
<% end %>
