<% unless @subscribers.empty? %>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Email</th>
      <th>Token</th>
      <th>Actions</th>
    </tr>
    <% @subscribers.each do |s| %>
      <tr>
        <td><%= s.email %></td>
        <td><%= s.token %></td>
        <td><%= link_to 'unsubscribe', unsubscribe_subscriber_path(s.token), class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </table>
<% end %>
