<% @posts.each do |post| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <b><%= post.title %></b>
      <div class="btn-group btn-group-sm btn-group-right" role="group">
        <%= link_to 'read', post_path(post), class: 'btn btn-primary' %>
        <% if can? :manage, post %>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info' %>
          <%= link_to 'Delete', post_path(post), class: 'btn btn-danger', method: :delete, data: { :confirm => 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <%= strip_tags(markdown(post.body)).truncate(300) %>
    </div>
  </div>

<% end %>