@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "pagedown_bootstrap";

/*
*= require_tree .
*= require_self
*/

#main-container {
  padding-top: 70px;
}

.btn-group-right {
  float: right;
  margin-top: -5px;
}

footer p {
  text-align: center;
}